<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index.mobile</title>
</head>
<body>
    <div>
        I am a mobile site
    </div>
</body>
</html>
